﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="Clientes.aspx.cs" Inherits="Clientes" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
   <h1 class="text-center"> <b>NUEVO CLIENTE</b> </h1>


  <div class="row">
    <div class="col-md-4">
      <b>NOMBRE:</b><br>
      <input type="text" required name="nombre_cli"
      class="form-control" placeholder="Ingrese su Nombre" value="">
    </div>
    <div class="col-md-4">
      <b>APELLIDOS:</b><br>
      <input type="text" required name="apellido_cli"
      class="form-control" placeholder="Ingrese los Apellidos" value="">
    </div>
    <div class="col-md-4">
      <b>TELEFONO:</b><br>
      <input type="number" required name="telefono_cli"
      class="form-control" placeholder="Ingrese el Telefono" value="">
    </div>
</div>

<br>

<div class="row">

  <div class="col-md-4">
    <b>EMAIL:</b><br>
    <input type="text" required name="correo_cli"
    class="form-control" placeholder="Ingrese el correo" value="">
  </div>
</div>
    <center>


<br>
        <div class="row">
          <div class="cold-md-4">
          </div>

          <div class="cold-md-7">
            <button type="submit" name="button"
             class="btn btn-primary">

            <i class="glyphicon glyphicon-ok"></i>
            Guardar
          </button>
          <a href="http://localhost:1355/ListadoCli" class="btn btn-danger">
            <i class="glyphicon glyphicon-remove"></i>
            Cancelar
        </a>
               </div>
        </div>
        </center>
    <br />









</asp:Content>

